In [1]:
import pandas as pd
import numpy as np
heart_file=pd.read_csv("11.2 heart-disease.csv")
heart_file

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
X=heart_file.drop("target",axis=1)
Y=heart_file["target"]
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [7]:
#choose the model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
#we keep default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
#Fit the model
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [13]:
clf.fit(X_train,Y_train);

In [14]:
 Y_preds=clf.predict(X_test)
Y_preds

array([0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [15]:
Y_test

120    1
196    0
123    1
258    0
272    0
      ..
292    0
117    1
58     1
240    0
279    0
Name: target, Length: 61, dtype: int64

In [16]:
#Evalute the training model
clf.score(X_train,Y_train)

1.0

In [17]:
clf.score(X_test,Y_test)

0.8032786885245902

In [18]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.77      0.71      0.74        24
           1       0.82      0.86      0.84        37

    accuracy                           0.80        61
   macro avg       0.80      0.79      0.79        61
weighted avg       0.80      0.80      0.80        61

In [19]:
confusion_matrix(Y_test,Y_preds)

array([[17,  7],
       [ 5, 32]], dtype=int64)

In [20]:
accuracy_score(Y_test,Y_preds)

0.8032786885245902

In [21]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimator")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{clf.score(X_test,Y_test)*100:.2f}%")

Trying model with 10 estimator
Model accuracy on test set:77.05%
Trying model with 20 estimator
Model accuracy on test set:80.33%
Trying model with 30 estimator
Model accuracy on test set:77.05%
Trying model with 40 estimator
Model accuracy on test set:81.97%
Trying model with 50 estimator
Model accuracy on test set:77.05%
Trying model with 60 estimator
Model accuracy on test set:80.33%
Trying model with 70 estimator
Model accuracy on test set:78.69%
Trying model with 80 estimator
Model accuracy on test set:78.69%
Trying model with 90 estimator
Model accuracy on test set:75.41%

In [22]:
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [24]:
import pickle

file_path = r"C:\Users\Kiranmayi\desktop\ML_sample\random_forest_model_1.pkl"

# Load the model properly
with open(file_path, "rb") as file:
    model = pickle.load(file)

# Now you can use the model for predictions

In [25]:
loaded_model=pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.7540983606557377